
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GAME */

html, body {
  font-family: 'Roboto', sans-serif;
  color: #222;
}

header h1 {
  display: block;
  text-align: center;
  background: #222;
  color: #fff;
  padding: 20px;
  font-size: 30px;
}

.personal-info a {
  color: white;
  font-size: 15px;
  margin-left: 10px;
}

header h2 {
  display: block;
  text-align: center;
  background: rgb(46, 46, 46);
  color: #fff;
  padding: 20px;
  font-size: 20px;
}

.instructions {
  display: flex;
  flex-direction: row;
  width: 100vw;
  position: relative;
}

.how-to-play-hover {
  display: none;
  font-size: 20px;
}

.how-to-play:hover>.how-to-play-hover {
  display: inline;
  position: absolute;
  top: 1em;
  left: 1em;
  width: 30%;
  background: #888;
  border: 1px solid black;
  padding: 10px;
  z-index: 1;
}

.how-to-play {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50%;
  background: rgb(46, 46, 46);
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.how-to-play > div {
  background-color: rgb(224, 224, 224);
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rules-hover {
  display: none;
  font-size: 20px;
}

.rules:hover>.rules-hover {
  display: inline;
  position: absolute;
  top: 1em;
  right: 3em;
  width: 25%;
  background: #888;
  border: 1px solid black;
  padding: 10px;
  z-index: 1;
}

.rules {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50%;
  background: rgb(46, 46, 46);
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.table-outer {
  display: block;
  height: calc(100vh - 50px);
  background: #076324;
  padding: 80px;
}

.table {
  margin: auto;
  width: 80%;
  height: 600px;
  transform: rotateX(35deg);
  padding: 0 2rem 2rem 2rem;
  background: #076324;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 46px 1px rgba(196,222,0,1);
  -moz-box-shadow: 0px 0px 46px 1px rgba(196,222,0,1);
  box-shadow: 0px 0px 46px 1px rgba(196,222,0,1);
}

#house, #players {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  width: 600px;
  height: 200px;
  clear: both;
}

.player {
  color: #fff;
  border: solid 2px #ccc;
  border-radius: 10px;
  padding: 10px;
  display: block;
  height: 180px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hand {
  overflow: auto;
  clear: both;
}

.player.active {
  border: solid 2px #fff;
  background: rgba(255, 255, 255, .3);
}

#actions_2 button {
  background-color: white;
  height: 30px;
  width: 100px;
  align-items: center;
}

.points {
  color: yellow;
}

.deck {
  margin-top: 100px;
  width: 110px;
  margin: 0 auto;
  font-size: 20px;
}

.deck > div:first-of-type, .player > div:first-of-type {
  width: 100%;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 20px;
}

#status {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}

#status.active {
  display: block;
}

#status-content {
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  padding: 20px 0;
  top: 80px;
  background: #000;
  color: rgb(69, 251, 45);
  text-align: center;
  font-size: 40px;
}

#status-content.red {
  color: red;
}
#status-btn {
  display: block;
  width: 120px;
  padding: 5px 0;
  background: rgb(255, 255, 77);
  color: #222;
  margin: 20px auto 0;
  font-size: 20px;
}

/* Cards */

.card {
  position: relative;
  float: left;
  margin: 5px;
  width: 70px;
  height: 100px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #eee;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.deck > .card {
  width: 90px;
  height: 130px;
  background-image: url(https://i.pinimg.com/originals/10/80/a4/1080a4bd1a33cec92019fab5efb3995d.png);
  background-size: 90px;
  color: black;
  font-weight: bold;


}

.card > #deckcount {
  font-size: 45px;
}

.card p {
  margin-top: 30px;
  text-align: center;
  font: 20px Georgia, Times New Roman, serif;
}

.card.suithearts, .card.suitdiamonds{
  color: #900;
}

.card.suitspades, .card.suitclubs{
  color: #222;
}

.card.suithearts:before, .card.suithearts:after{
  content: '♥';
}

.card.suitspades:before, .card.suitspades:after{
  content: '♠';
}

.card.suitdiamonds:before, .card.suitdiamonds:after{
  content: "♦";
}

.card.suitclubs:before, .card.suitclubs:after{
  content: '♣';
}

div[class*='suit']:before {
  position: absolute;
  font-size: 25px;
  left: 5px;
  top: 5px;
}

div[class*='suit']:after {
  position: absolute;
  font-size: 25px;
  right: 5px;
  bottom: 5px;
}


/* WHEEL */

.poker {
  display: block;
  height: calc(100vh - 104px);
  background: #076324;
  padding: 20px 0;
}

.poker-header {
  display: block;
  text-align: center;
  background: rgb(46, 46, 46);
  color: #fff;
  padding: 20px;
  font-size: 20px;
}